<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-6">
<h1>Listing Income Categories:</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @income_categories.each do |income_category| %>
      <tr data-income_category_id="<%= income_category.id %>">
        <td align="center"><%= link_to income_category.title, income_category_incomes_path(income_category) %></td>
        <td align="center"><%= income_category.description %></td>
        <td align="center"><%= link_to 'Edit', edit_income_category_path(income_category) %></td>
        <td align="center"><%= link_to 'Destroy', income_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>

<div class="col-md-6">
  <h1>Listing Expenses category:</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @expense_categories.each do |expense_category| %>
      <tr>
        <td align="center"><%= link_to expense_category.title, expense_category_expenses_path(expense_category)%></td>
        <td align="center"><%= expense_category.description %></td>
        <td align="center"><%= link_to 'Edit', edit_expense_category_path(expense_category) %></td>
        <td align="center"><%= link_to 'Destroy', expense_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
</div>

<div class="row">
<div class="col-md-6">
<%= link_to 'New Income category', new_income_category_path , class: 'btn btn-default'%>
</div>
<div class="col-md-6">
<%= link_to 'New Expense category', new_expense_category_path , class: 'btn btn-default'%>
</div>
</div>

<div class="row">
<div class="col-md-6">
<h1>Search incomes:</h1>
<%= form_tag("/income_categories/search.xls", method: "post") do %>
  <%= label_tag(:q, "Initial date:") %>
  <%= date_select(:userect, :born_on) %>
  <br>
  <%= label_tag(:q, "Final date:") %>
  <%= date_select(:userwe, :born_on) %>
  <br>
  <%= label_tag(:q, "Income category:") %>
  <%= select_tag(:people, options_from_collection_for_select(@income_categories, "id", "title")) %>
  <br>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="col-md-6">
<h1>Search expenses:</h1>
<%= form_tag("/expense_categories/search.xls", method: "post") do %>
  <%= label_tag(:q, "Initial date:") %>
  <%= date_select(:userect, :born_on) %>
  <br>
  <%= label_tag(:q, "Final date:") %>
  <%= date_select(:userwe, :born_on) %>
  <br>
  <%= label_tag(:q, "Expense category:") %>
  <%= select_tag(:people, options_from_collection_for_select(@expense_categories, "id", "title")) %>
  <br>
  <%= submit_tag("Search") %>
<% end %>
</div>
</div>
<% end %>